@model EASY_PROGRAMING_PLATAFORM.Models.Profesores

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar - Profesor</h2>

<h3>¿Estas seguro que quieres eliminar este Profesor?</h3>
<div>
    <h4>Profesores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.especialidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_profesor" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar ala Lista</a>
    </form>
</div>
