<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CONCEPTO: VARIABLE</title>
    <link rel="stylesheet" href="estilo.css">
  </head>
  <body>

    <div class="contenedor">

    <div class="divuno">
      <div class="texto">
        <h1 class="principal">VARIABLE</h1>
        <p> Espacio en la memoria del ordenador (RAM) donde se almacenara un valor que podra cambiar durante la ejecucion o establecer el valor un dato del programa.

        Viendolo en la vida cotidiana una variable es una caja en la que podemos guardar cosas (datos) para utilizarlas durante nuestro programa.</p>
      </div>
    </div>

    <div class="divdos">
      <div class="texto2">
        <table>

        <tr>
          <td ><img class="imagen" src="imagenes/variable.jpg" alt="" width="145px"></td>


          <td>
            <h1>ESTRUCTURA DEL CODIGO</h1>
            <textarea name="textarea" rows="5" cols="93">        var (Nombre de la variable) = (Valor o cadena de la variable) var puntuacion = 0;
              
              EJEMPLO
              var puntuacion = 500;
              var nombre ='juan';</textarea>
          </td>

      </tr>
    </table>

      </div>
    </div>

    <div class="divtres">
      <div class="texto3">
        <h1>DATO IMPORTANTE</h1>
        <ul>
          <li>No debe tener el mismo nombre que una palabra reservada</li>
          <li>Es recomedable que sea descriptivo alo que alamacena</li>
        </ul>
      </div>
    </div>
  </div>

  </body>
</html>
