<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="estilo.css">

    <title>CURSO - POO</title>
  </head>
  <body>
    <div id="main-container">

      <table>
        <thead>
          <tr>
            <th>BASICO</th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th>
          </tr>
        </thead>

        <tr>
          <td> <a href="reporte.pdf"> <img src="uno.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="dos.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="tres.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="cuatro.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="cinco.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img class="imagen" src="examen.jpg" alt="" width="40"></a> </td>
          <td> </td>
        </tr>


        <thead>
          <tr>
            <th>MEDIO</th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th>
          </tr>
        </thead>

        <tr>
          <td> <a href="reporte.pdf"> <img src="uno.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="dos.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="tres.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="cuatro.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="cinco.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img class="imagen" src="examen.jpg" alt="" width="40"></a> </td>
          <td> </td>
        </tr>

        <thead>
          <tr>
            <th>AVANZADO</th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th>
          </tr>
        </thead>

        <tr>
          <td> <a href="Practicas/concepto.html"> <img src="uno.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="dos.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="tres.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="cuatro.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img src="cinco.png" alt="" width="40"></a> </td>

          <td> <a href="hola.html"> <img class="imagen" src="examen.jpg" alt="" width="40"></a> </td>
          <td> </td>
        </tr>


      </table>
    </div>

  </body>
</html>
